---
import "@fontsource/dm-sans";
import Layout from './Layout.astro';
import Link from '@svelte.core/link/src/lib/Link.svelte';
import DarkSelect from '@components/DarkSelect.svelte';
import Theme from '@svelte.core/theme/src/lib/Theme.svelte';
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---
<Layout title={title}>
	<div slot="body"> 
      <Theme client:load>
        <p>
          <Link href="/">Home</Link>
          <Link href="/button">Button</Link>
          <Link href="/input">Input</Link>
          <Link href="/checkbox">Checkbox</Link>
          <Link href="/radiobutton">Radio</Link>
          <Link href="/link">Link</Link>
          <Link href="/portal">Portal</Link>
    
          <Link href="/badge">Badge</Link>
          <Link href="/popover">Popover</Link>
          <Link href="/popoverbug">Popover Bug</Link>
    
          <Link href="/toggle">Toggle</Link>
          <Link href="/numerictextbox">NumericTextbox</Link>
          <Link href="/modal">Modal</Link>
          <Link href="/tabs">Tabs</Link>
          <Link href="/tooltip">Tooltip</Link>
          <Link href="/dropdownlist">DropdownList</Link>
          <Link href="/combobox">Combobox</Link>
          <DarkSelect client:load/>
        </p>
        <slot />
      </Theme>
      <div id="portals" />
    </div>
  </Layout>
