/**
 * Copyright  (C)  2021-2022 IrisPixel. All Rights Reserved.
 */

:root {
    --lp-main: 255, 255, 255;
    --lp-text-main: 0, 0, 0;

    --lp-primary:   0, 52, 99;
    --lp-text-primary: 255, 255, 255;

    --lp-secondary: 0, 23, 31;;
    --lp-text-secondary: 255, 255, 255;

    --lp-tertiary: 0, 126, 167;
    --lp-text-tertiary: 255, 255, 255;

    --lp-quaternary: 0, 168, 232;
    --lp-text-quaternary: 255, 255, 255;

    --lp-quinary: 231, 226, 71;
    --lp-text-quinary: 0, 0, 0;
}