---
import SvelteLayout from '@layouts/SvelteLayout.astro';
import DropdownListDemo from '@svelte.demo/dropdownlistdemo.svelte';
---
<SvelteLayout title="dropdownlist svelte components demo">
	<h3>DropdownList</h3>
	<DropdownListDemo client:visible />
</SvelteLayout>
