---
import SvelteLayout from '@layouts/SvelteLayout.astro';
import RadioButtonDemo from '@svelte.demo/radiobuttondemo.svelte';
---
<SvelteLayout title="Svelte Radiobutton Demo">
	<h3>RadioButton</h3>
    <RadioButtonDemo client:visible />
</SvelteLayout>
